[submodule "gen/seaqt-5.15"]
	path = gen/seaqt-5.15
	url = https://github.com/seaqt/seaqt.git
	branch = qt-5.15
[submodule "gen/seaqt-6.4"]
	path = gen/seaqt-6.4
	url = https://github.com/seaqt/seaqt.git
	branch = qt-6.4
